Repository prgrms-web-devcourse/Team-Tasty-Masiottae-BE, pull requests merged in 2022-07, with the labels that each got.

#6 [#5] QueryDSL 설정 파일 추가
  build.gradle
  src/main/java/com/tasty/masiottae/config/QuerydslConfig.java
Labels: 백엔드

#10 [#9]예외 처리 담당 패키지
  src/main/java/com/tasty/masiottae/common/exception/ErrorMessage.java
  src/main/java/com/tasty/masiottae/common/exception/ErrorResponse.java
  src/main/java/com/tasty/masiottae/common/exception/GlobalExceptionHandler.java
  src/main/java/com/tasty/masiottae/common/exception/custom/NotFoundException.java
Labels: 백엔드

#13 [#12] s3 설정 파일 작성
  src/main/resources/application-dev.yml
  src/main/resources/aws.yml
Labels: 리뷰 요청, 백엔드

#18 [#16] 운영환경 yml 설정파일 추가
  src/main/resources/application-prod.yml
Labels: AWS

#20 [#19] s3 이미지 업로드 기능 개발
  build.gradle
  src/main/java/com/tasty/masiottae/common/exception/ErrorMessage.java
  src/main/java/com/tasty/masiottae/common/util/AwsS3Service.java
  src/main/java/com/tasty/masiottae/common/util/ImageDirectory.java
  src/test/java/com/tasty/masiottae/TeamTastyMasiottaeBeApplicationTests.java
Labels: 리뷰 요청, AWS

#23 [#22] Taste와 Menu 엔티티의 관계를 다대다 관계로 변경
  src/main/java/com/tasty/masiottae/menu/domain/MenuTaste.java
  src/main/java/com/tasty/masiottae/menu/domain/MenuTasteId.java
  src/main/java/com/tasty/masiottae/menu/domain/Taste.java
Labels: 리뷰 요청, Menu, Taste

#25 시큐리티 테스트를 위한 유저 api 추가
  build.gradle
  config/google-checkstyle-rules.xml
  src/docs/asciidoc/account.adoc
  src/docs/asciidoc/index.adoc
  src/main/generated/com/tasty/masiottae/account/domain/QAccount.java
  src/main/generated/com/tasty/masiottae/comment/domain/QComment.java
  src/main/generated/com/tasty/masiottae/franchise/domain/QFranchise.java
  src/main/generated/com/tasty/masiottae/likemenu/domain/QLikeMenu.java
  src/main/generated/com/tasty/masiottae/menu/domain/QFlavor.java
  src/main/generated/com/tasty/masiottae/menu/domain/QMenu.java
  src/main/generated/com/tasty/masiottae/option/domain/QOption.java
  src/main/java/com/tasty/masiottae/account/controller/AccountController.java
  src/main/java/com/tasty/masiottae/account/dto/AccountCreateRequest.java
  src/main/java/com/tasty/masiottae/account/dto/AccountDuplicatedResponse.java
  src/main/java/com/tasty/masiottae/account/dto/AccountFindResponse.java
  src/main/java/com/tasty/masiottae/account/dto/AccountLoginRequest.java
  src/main/java/com/tasty/masiottae/account/dto/AccountPasswordUpdateRequest.java
  src/main/java/com/tasty/masiottae/account/dto/AccountUpdateRequest.java
  src/main/java/com/tasty/masiottae/account/repository/AccountRepository.java
  src/main/java/com/tasty/masiottae/account/service/AccountService.java
  src/main/java/com/tasty/masiottae/common/exception/ErrorMessage.java
  src/main/java/com/tasty/masiottae/common/exception/ErrorResponse.java
  src/main/java/com/tasty/masiottae/common/exception/GlobalExceptionHandler.java
  src/main/java/com/tasty/masiottae/common/exception/custom/NotFoundException.java
  src/test/java/com/tasty/masiottae/RestDocsConfiguration.java
  src/test/java/com/tasty/masiottae/account/controller/AccountControllerTest.java
Labels: 백엔드, Tasty

#26 [#8] 메뉴 추가 기능 개발
  build.gradle
  src/main/java/com/tasty/masiottae/common/exception/ErrorMessage.java
  src/main/java/com/tasty/masiottae/common/util/AwsS3Service.java
  src/main/java/com/tasty/masiottae/menu/MenuConverter.java
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/domain/Menu.java
  src/main/java/com/tasty/masiottae/menu/dto/MenuSaveRequest.java
  src/main/java/com/tasty/masiottae/menu/dto/MenuSaveResponse.java
  src/main/java/com/tasty/masiottae/menu/repository/TasteRepository.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/main/java/com/tasty/masiottae/option/OptionConverter.java
  src/main/java/com/tasty/masiottae/option/domain/Option.java
  src/main/java/com/tasty/masiottae/option/dto/OptionSaveRequest.java
  src/test/java/com/tasty/masiottae/config/S3TestConfig.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
  src/test/resources/application.yml
  src/test/resources/aws.yml
Labels: 리뷰 요청, Menu

#28 [#27] 유저 이미지 S3 업로드 기능 개발
  src/main/java/com/tasty/masiottae/common/util/AwsS3Service.java
Labels: 리뷰 요청, AWS, User

#36 [#34] docker-compose.yml 파일 추가
  .github/workflows/masiottae.yml
  docker-compose.yml
Labels: 리뷰 요청, CI/CD, Tasty

#38 [#2] Spring Security를 통해 인증과 인가 기능 구현
  .gitignore
  build.gradle
  config/google-checkstyle-rules.xml
  src/main/java/com/tasty/masiottae/account/controller/AccountController.java
  src/main/java/com/tasty/masiottae/account/domain/Account.java
  src/main/java/com/tasty/masiottae/account/dto/AccountCreateRequest.java
  src/main/java/com/tasty/masiottae/account/dto/AccountDuplicatedResponse.java
  src/main/java/com/tasty/masiottae/account/dto/AccountFindResponse.java
  src/main/java/com/tasty/masiottae/account/dto/AccountLoginRequest.java
  src/main/java/com/tasty/masiottae/account/dto/AccountPasswordUpdateRequest.java
  src/main/java/com/tasty/masiottae/account/dto/AccountUpdateRequest.java
  src/main/java/com/tasty/masiottae/account/repository/AccountRepository.java
  src/main/java/com/tasty/masiottae/account/service/AccountService.java
  src/main/java/com/tasty/masiottae/security/auth/AccountDetail.java
  src/main/java/com/tasty/masiottae/security/auth/AccountDetailService.java
  src/main/java/com/tasty/masiottae/security/config/CorsConfig.java
  src/main/java/com/tasty/masiottae/security/config/SecurityConfig.java
  src/main/java/com/tasty/masiottae/security/config/WebConfig.java
  src/main/java/com/tasty/masiottae/security/filter/JwtAuthenticationFilter.java
  src/main/java/com/tasty/masiottae/security/filter/JwtAuthorizationFilter.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtProperties.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtToken.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtTokenProvider.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtTokenResponse.java
  src/main/resources/application-dev.yml
  src/main/resources/jwt.yml
  src/test/java/com/tasty/masiottae/account/controller/AccountControllerTest.java
  src/test/java/com/tasty/masiottae/config/RestDocsConfiguration.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 백엔드, User, Taste

#40 [#37] 프랜차이즈, 메뉴 API Restdocs 문서화
  src/main/java/com/tasty/masiottae/franchise/controller/FranchiseController.java
  src/main/java/com/tasty/masiottae/franchise/dto/FranchiseSaveRequest.java
  src/main/java/com/tasty/masiottae/franchise/service/FranchiseService.java
  src/test/java/com/tasty/masiottae/account/controller/AccountControllerTest.java
  src/test/java/com/tasty/masiottae/franchise/controller/FranchiseControllerTest.java
  src/test/java/com/tasty/masiottae/franchise/service/FranchiseServiceTest.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
Labels: 리뷰 요청, Menu, 문서화, Tasty, Franchise

#42 [#41] aws 파일 설정 Import
  src/main/resources/application-prod.yml
Labels: AWS

#43 [#33] 메뉴 생성 API RestDocs 문서화
  docs/index.html
  src/main/asciidoc/index.adoc
  src/main/asciidoc/menu.adoc
  src/main/java/com/tasty/masiottae/menu/MenuConverter.java
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/dto/MenuSaveRequest.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 리뷰 요청, Menu, 문서화

#46 [#44] application-prod.yml에 jwt 설정 추가
  src/main/resources/application-prod.yml
Labels: 리뷰 요청, AWS
