Repository prgrms-web-devcourse/Team-Tasty-Masiottae-BE, pull requests merged in 2022-08, with the labels that each got.

#48 [#47] S3Config 파일 작성
  src/main/java/com/tasty/masiottae/common/util/AwsS3Service.java
  src/main/java/com/tasty/masiottae/config/S3Config.java
  src/test/java/com/tasty/masiottae/config/S3TestConfig.java
  src/test/java/com/tasty/masiottae/franchise/service/FranchiseServiceTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
  src/test/resources/application.yml
Labels: AWS

#53 [#51] BaseTimeEntity 추가
  src/main/java/com/tasty/masiottae/account/domain/Account.java
  src/main/java/com/tasty/masiottae/common/base/BaseTimeEntity.java
  src/main/java/com/tasty/masiottae/franchise/domain/Franchise.java
  src/main/java/com/tasty/masiottae/menu/domain/Menu.java
  src/main/resources/jwt.yml
Labels: 리뷰 요청, Tasty

#49 [#45] yml 정보 환경변수로 변경
  .github/workflows/masiottae.yml
  src/main/java/com/tasty/masiottae/security/jwt/JwtTokenProvider.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtTokenResponse.java
  src/main/resources/application-prod.yml
  src/main/resources/jwt.yml
Labels: 백엔드, Tasty

#54 [#52] menu 단건조회 응답내용 수정
  src/main/asciidoc/menu.adoc
  src/main/java/com/tasty/masiottae/menu/MenuConverter.java
  src/main/java/com/tasty/masiottae/menu/TasteConverter.java
  src/main/java/com/tasty/masiottae/menu/domain/Taste.java
  src/main/java/com/tasty/masiottae/menu/dto/MenuFindResponse.java
  src/main/java/com/tasty/masiottae/menu/dto/TasteFindResponse.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 리뷰 요청, Menu, Tasty

#57 [#56] CI/CD aws s3 키 주입 자동화 설정
  .github/workflows/masiottae.yml
  src/main/resources/application-prod.yml
Labels: 리뷰 요청, CI/CD, AWS

#60 chore : prod.yml 파일 누락된 내용 기입
  src/main/resources/application-prod.yml
Labels: AWS

#63 [#62] yml 파일 수정
  src/main/resources/application-prod.yml
Labels: AWS

#61 [#50] 맛 생성, 전체 조회 API 개발 및 문서화
  docs/index.html
  src/main/asciidoc/index.adoc
  src/main/asciidoc/taste.adoc
  src/main/java/com/tasty/masiottae/menu/TasteConverter.java
  src/main/java/com/tasty/masiottae/menu/controller/TasteController.java
  src/main/java/com/tasty/masiottae/menu/dto/TasteFindResponse.java
  src/main/java/com/tasty/masiottae/menu/dto/TasteSaveRequest.java
  src/main/java/com/tasty/masiottae/menu/dto/TasteSaveResponse.java
  src/main/java/com/tasty/masiottae/menu/service/TasteService.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/controller/TasteControllerTest.java
  src/test/java/com/tasty/masiottae/menu/service/TasteServiceTest.java
Labels: 리뷰 요청, 문서화, Taste

#58 [#39] 계정(유저) 도메인 전체 개발(S3로 이미지 업로드 기능 포함)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/refactor.md
  docs/account.html
  src/main/asciidoc/account.adoc
  src/main/java/com/tasty/masiottae/account/controller/AccountController.java
  src/main/java/com/tasty/masiottae/account/converter/AccountConverter.java
  src/main/java/com/tasty/masiottae/account/domain/Account.java
  src/main/java/com/tasty/masiottae/account/domain/CheckProperty.java
  src/main/java/com/tasty/masiottae/account/dto/AccountCreateRequest.java
  src/main/java/com/tasty/masiottae/account/dto/AccountFindResponse.java
  src/main/java/com/tasty/masiottae/account/dto/AccountImageUpdateRequest.java
  src/main/java/com/tasty/masiottae/account/dto/AccountImageUpdateResponse.java
  src/main/java/com/tasty/masiottae/account/dto/AccountLoginRequest.java
  src/main/java/com/tasty/masiottae/account/dto/AccountNickNameUpdateRequest.java
  src/main/java/com/tasty/masiottae/account/dto/AccountNickNameUpdateResponse.java
  src/main/java/com/tasty/masiottae/account/dto/AccountSnsUpdateRequest.java
  src/main/java/com/tasty/masiottae/account/dto/AccountSnsUpdateResponse.java
  src/main/java/com/tasty/masiottae/account/dto/AccountUpdateRequest.java
  src/main/java/com/tasty/masiottae/account/repository/AccountRepository.java
  src/main/java/com/tasty/masiottae/account/service/AcccountEntityService.java
  src/main/java/com/tasty/masiottae/account/service/AccountService.java
  src/main/java/com/tasty/masiottae/menu/MenuConverter.java
  src/main/java/com/tasty/masiottae/security/auth/AccountDetail.java
  src/main/java/com/tasty/masiottae/security/auth/AccountDetailService.java
  src/main/java/com/tasty/masiottae/security/config/SecurityConfig.java
  src/main/java/com/tasty/masiottae/security/filter/JwtAuthenticationFilter.java
  src/main/java/com/tasty/masiottae/security/filter/JwtAuthorizationFilter.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtToken.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtTokenProvider.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtTokenResponse.java
  src/main/resources/application-dev.yml
  src/main/resources/aws.yml
  src/test/java/com/tasty/masiottae/account/controller/AccountControllerTest.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
Labels: 리뷰 요청

#66 [#65] franchise restdocs 추가
  docs/index.html
  src/main/asciidoc/franchise.adoc
  src/test/java/com/tasty/masiottae/franchise/controller/FranchiseControllerTest.java
Labels: 문서화, Franchise

#69 [#67] 전체 메뉴 조회 기능 임시 개발
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/repository/MenuRepository.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
Labels: 리뷰 요청, Menu

#68 [#55] Menu Update, Delete 개발
  src/main/asciidoc/menu.adoc
  src/main/java/com/tasty/masiottae/menu/MenuConverter.java
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/domain/Menu.java
  src/main/java/com/tasty/masiottae/menu/domain/MenuTasteId.java
  src/main/java/com/tasty/masiottae/menu/dto/MenuSaveRequest.java
  src/main/java/com/tasty/masiottae/menu/dto/MenuSaveUpdateRequest.java
  src/main/java/com/tasty/masiottae/menu/repository/MenuTasteRepository.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 백엔드, 문서화, Tasty

#73 [#72] 404 응답 처리
  src/main/java/com/tasty/masiottae/common/exception/GlobalExceptionHandler.java
Labels: 리뷰 요청

#77 [#76] 메뉴 생성시 image 데이터 전달받는 방식을 변경
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
Labels: 리뷰 요청, Menu

#78 [#70] 슬랙 에러로그 알림 추가
  .github/workflows/masiottae.yml
  build.gradle
  src/main/java/com/tasty/masiottae/HelloController.java
  src/main/resources/application-prod.yml
  src/main/resources/logback-slack.xml
Labels: 백엔드, Tasty

#80 [#79] cors 매핑 설정 변경
  src/main/java/com/tasty/masiottae/security/config/CorsConfig.java
  src/main/java/com/tasty/masiottae/security/config/WebConfig.java
Labels: 백엔드, Tasty

#75 [#74]계정 응답 데이터 버그 수정, restdoc 문서 반영
  docs/index.html
  src/main/asciidoc/account.adoc
  src/main/asciidoc/index.adoc
  src/main/asciidoc/index.html
  src/main/asciidoc/menu.adoc
  src/main/java/com/tasty/masiottae/account/converter/AccountConverter.java
Labels: 문서화, Account

#82 [#81] ExceptionHandler 오타 수정
  src/main/java/com/tasty/masiottae/common/exception/GlobalExceptionHandler.java
Labels: 리뷰 요청

#88 [#85] Taste 요청, 응답 필드명 변경 및 메뉴 수정 삭제 API 문서화
  docs/index.html
  src/main/asciidoc/index.html
  src/main/java/com/tasty/masiottae/menu/TasteConverter.java
  src/main/java/com/tasty/masiottae/menu/dto/TasteFindResponse.java
  src/main/java/com/tasty/masiottae/menu/dto/TasteSaveRequest.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/controller/TasteControllerTest.java
  src/test/java/com/tasty/masiottae/menu/service/TasteServiceTest.java
Labels: 리뷰 요청, Menu, 문서화, Taste

#87 [#86] Franchise 응답 변경
  .gitignore
  src/main/java/com/tasty/masiottae/franchise/dto/FranchiseFindResponse.java
  src/test/java/com/tasty/masiottae/franchise/controller/FranchiseControllerTest.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
Labels: 리뷰 요청, 백엔드, Tasty, Franchise

#89 [#71] 댓글 작성 및 한 메뉴의 댓글 전체 조회
  docs/index.html
  src/main/asciidoc/comment.adoc
  src/main/asciidoc/index.adoc
  src/main/java/com/tasty/masiottae/comment/CommentConverter.java
  src/main/java/com/tasty/masiottae/comment/controller/CommentController.java
  src/main/java/com/tasty/masiottae/comment/dto/CommentFindResponse.java
  src/main/java/com/tasty/masiottae/comment/dto/CommentSaveRequest.java
  src/main/java/com/tasty/masiottae/comment/dto/CommentSaveResponse.java
  src/main/java/com/tasty/masiottae/comment/repository/CommentRepository.java
  src/main/java/com/tasty/masiottae/comment/service/CommentService.java
  src/main/java/com/tasty/masiottae/common/exception/ErrorMessage.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/main/resources/aws.yml
  src/test/java/com/tasty/masiottae/comment/controller/CommentControllerTest.java
  src/test/java/com/tasty/masiottae/comment/service/CommentServiceTest.java
Labels: 리뷰 요청, 백엔드, 문서화, Tasty, Comment

#90 [#84] 전역 예외 처리 수정 및 데이터 베이스 관련 예외 처리, 스프링 시큐리티 수정(이슈)
  src/main/java/com/tasty/masiottae/account/controller/AccountController.java
  src/main/java/com/tasty/masiottae/account/converter/AccountConverter.java
  src/main/java/com/tasty/masiottae/account/service/AccountEntityService.java
  src/main/java/com/tasty/masiottae/account/service/AccountService.java
  src/main/java/com/tasty/masiottae/common/exception/BaseExceptionHandler.java
  src/main/java/com/tasty/masiottae/common/exception/ErrorMessage.java
  src/main/java/com/tasty/masiottae/common/exception/GlobalExceptionHandler.java
  src/main/java/com/tasty/masiottae/common/exception/HibernateSqlErrorCode.java
  src/main/java/com/tasty/masiottae/security/auth/AccountDetail.java
  src/main/java/com/tasty/masiottae/security/auth/AccountDetailService.java
  src/main/java/com/tasty/masiottae/security/config/SecurityConfig.java
  src/main/java/com/tasty/masiottae/security/filter/JwtAuthenticationFilter.java
  src/main/java/com/tasty/masiottae/security/filter/JwtAuthorizationFilter.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtTokenProvider.java
Labels: 리뷰 요청, 백엔드, Account

#92 [#91] 불필요한 로직 제거
  src/main/java/com/tasty/masiottae/comment/controller/CommentController.java
Labels: 리뷰 요청, Tasty, Comment

#97 [#96] 운영.yml 업로드 최대용량 크기 변경
  src/main/resources/application-prod.yml
Labels: 백엔드

#94 [#93] accountId -> userId로 필드명 변경
  src/main/java/com/tasty/masiottae/comment/dto/CommentSaveRequest.java
  src/main/java/com/tasty/masiottae/comment/service/CommentService.java
  src/test/java/com/tasty/masiottae/comment/controller/CommentControllerTest.java
Labels: 리뷰 요청, Tasty, Comment

#95 [#64] 나만의 메뉴 검색 기능 개발
  docs/index.html
  src/main/asciidoc/index.adoc
  src/main/asciidoc/menu.adoc
  src/main/java/com/tasty/masiottae/comment/repository/CommentRepository.java
  src/main/java/com/tasty/masiottae/common/exception/ErrorMessage.java
  src/main/java/com/tasty/masiottae/common/exception/GlobalExceptionHandler.java
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/dto/SearchCond.java
  src/main/java/com/tasty/masiottae/menu/dto/SearchMyMenuRequest.java
  src/main/java/com/tasty/masiottae/menu/dto/SearchMyMenuResponse.java
  src/main/java/com/tasty/masiottae/menu/enums/MenuSortCond.java
  src/main/java/com/tasty/masiottae/menu/repository/MenuRepository.java
  src/main/java/com/tasty/masiottae/menu/repository/MenuRepositoryCustom.java
  src/main/java/com/tasty/masiottae/menu/repository/MenuRepositoryImpl.java
  src/main/java/com/tasty/masiottae/menu/repository/TasteRepository.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/main/java/com/tasty/masiottae/menu/service/TasteService.java
  src/test/java/com/tasty/masiottae/comment/service/CommentServiceTest.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/repository/MenuRepositoryTest.java
  src/test/java/com/tasty/masiottae/menu/repository/TasteRepositoryTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
  src/test/java/com/tasty/masiottae/menu/service/TasteServiceTest.java
Labels: 리뷰 요청, Menu, Search

#99 [#98] 댓글 생성 응답 필드 추가
  src/main/java/com/tasty/masiottae/comment/CommentConverter.java
  src/main/java/com/tasty/masiottae/comment/domain/Comment.java
  src/main/java/com/tasty/masiottae/comment/dto/CommentFindResponse.java
  src/main/java/com/tasty/masiottae/comment/dto/CommentSaveRequest.java
  src/main/java/com/tasty/masiottae/comment/dto/CommentSaveResponse.java
  src/main/java/com/tasty/masiottae/comment/service/CommentService.java
  src/test/java/com/tasty/masiottae/comment/controller/CommentControllerTest.java
Labels: 리뷰 요청, Tasty, Comment

#102 [#101] Taste 엔티티 누락된 제약조건 추가
  src/main/java/com/tasty/masiottae/menu/domain/Taste.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 리뷰 요청, Taste

#106 [#105] 옵션 조회 필드명 변경
  src/main/java/com/tasty/masiottae/option/dto/OptionFindResponse.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
Labels: Option

#107 [#83] 좋아요 기능 개발
  build.gradle
  config/google-checkstyle-rules.xml
  src/main/asciidoc/index.adoc
  src/main/asciidoc/likeMenu.adoc
  src/main/java/com/tasty/masiottae/account/converter/AccountConverter.java
  src/main/java/com/tasty/masiottae/account/domain/Account.java
  src/main/java/com/tasty/masiottae/account/repository/AccountRepository.java
  src/main/java/com/tasty/masiottae/account/service/AccountEntityService.java
  src/main/java/com/tasty/masiottae/account/service/AccountService.java
  src/main/java/com/tasty/masiottae/likemenu/controller/LikeMenuController.java
  src/main/java/com/tasty/masiottae/likemenu/domain/LikeMenuId.java
  src/main/java/com/tasty/masiottae/likemenu/repository/LikeMenuRepository.java
  src/main/java/com/tasty/masiottae/likemenu/service/LikeMenuService.java
  src/main/java/com/tasty/masiottae/menu/domain/Menu.java
  src/main/java/com/tasty/masiottae/menu/repository/MenuRepository.java
  src/main/java/com/tasty/masiottae/security/annotation/LoginAccount.java
  src/main/java/com/tasty/masiottae/security/auth/AccountDetail.java
  src/main/java/com/tasty/masiottae/security/auth/AccountDetailService.java
  src/main/java/com/tasty/masiottae/security/filter/JwtAuthenticationFilter.java
  src/main/java/com/tasty/masiottae/security/filter/JwtAuthorizationFilter.java
  src/test/java/com/tasty/masiottae/config/WithMockAccount.java
  src/test/java/com/tasty/masiottae/config/WithMockAccountSecurityContextFactory.java
  src/test/java/com/tasty/masiottae/likemenu/controller/LikeMenuControllerTest.java
  src/test/java/com/tasty/masiottae/likemenu/service/LikeMenuServiceTest.java
Labels: 리뷰 요청, 백엔드, Tasty

#112 [#111] 이미지 수정 멀티파트 required = false로 변경
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
Labels: 리뷰 요청, Menu, Tasty

#108 [#103] 예외 처리 핸들러 추가 등록
  src/main/java/com/tasty/masiottae/common/exception/BaseExceptionHandler.java
  src/main/java/com/tasty/masiottae/common/exception/ErrorMessage.java
  src/main/java/com/tasty/masiottae/common/exception/GlobalExceptionHandler.java
  src/main/java/com/tasty/masiottae/common/exception/LoggingAspect.java
  src/main/java/com/tasty/masiottae/security/config/SecurityConfig.java
Labels: 백엔드, Exception

#117 [#115] NoHandlerFound 예외를 잡기 위한 yml 설정
  src/main/java/com/tasty/masiottae/common/exception/LoggingAspect.java
  src/main/resources/application-prod.yml
Labels: 백엔드, Exception

#120 [#109] RestDocs 자동화
  build.gradle
  docs/index.html
  src/docs/asciidoc/account.adoc
  src/docs/asciidoc/comment.adoc
  src/docs/asciidoc/franchise.adoc
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/likeMenu.adoc
  src/docs/asciidoc/menu.adoc
  src/docs/asciidoc/taste.adoc
Labels: 리뷰 요청, 백엔드, 문서화

#121 [#110] 댓글 수정, 삭제 기능 추가
  src/docs/asciidoc/comment.adoc
  src/main/java/com/tasty/masiottae/comment/controller/CommentController.java
  src/main/java/com/tasty/masiottae/comment/domain/Comment.java
  src/main/java/com/tasty/masiottae/comment/repository/CommentRepository.java
  src/main/java/com/tasty/masiottae/comment/service/CommentService.java
  src/main/java/com/tasty/masiottae/common/exception/ErrorMessage.java
  src/main/java/com/tasty/masiottae/menu/domain/Menu.java
  src/test/java/com/tasty/masiottae/comment/controller/CommentControllerTest.java
  src/test/java/com/tasty/masiottae/comment/service/CommentServiceTest.java
Labels: 리뷰 요청, 문서화, Tasty, Comment

#119 [#118] 누락된 ExceptionHandler 추가
  src/main/java/com/tasty/masiottae/common/exception/GlobalExceptionHandler.java
Labels: 리뷰 요청, Exception

#125 [#124] Taste 테스트 개선
  src/test/java/com/tasty/masiottae/menu/controller/TasteControllerTest.java
  src/test/java/com/tasty/masiottae/menu/service/TasteServiceTest.java
Labels: 리뷰 요청, Taste

#126 [#123] JaCoCo 적용
  build.gradle
Labels: 백엔드, Tasty

#127 [#122] 토큰 만료기간 조정 및 리프레쉬 토큰 발급 기능 추가
  src/main/java/com/tasty/masiottae/TeamTastyMasiottaeBeApplication.java
  src/main/java/com/tasty/masiottae/account/controller/AccountController.java
  src/main/java/com/tasty/masiottae/account/converter/AccountConverter.java
  src/main/java/com/tasty/masiottae/account/dto/AccountLogoutRequest.java
  src/main/java/com/tasty/masiottae/account/dto/AccountReIssueRequest.java
  src/main/java/com/tasty/masiottae/account/repository/TimerUtils.java
  src/main/java/com/tasty/masiottae/account/repository/TokenCache.java
  src/main/java/com/tasty/masiottae/account/service/AccountService.java
  src/main/java/com/tasty/masiottae/security/config/SecurityConfig.java
  src/main/java/com/tasty/masiottae/security/filter/JwtAuthenticationFilter.java
  src/main/java/com/tasty/masiottae/security/filter/JwtAuthorizationFilter.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtAccessToken.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtRefreshToken.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtToken.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtTokenProvider.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtTokenResponse.java
  src/test/java/com/tasty/masiottae/account/controller/AccountControllerTest.java
  src/test/java/com/tasty/masiottae/comment/controller/CommentControllerTest.java
  src/test/java/com/tasty/masiottae/likemenu/controller/LikeMenuControllerTest.java
Labels: 리뷰 요청, 백엔드, Account

#133 [#131] 메뉴 단건 조회시 정렬된 Taste 리스트를 응답하도록 변경
  src/main/java/com/tasty/masiottae/comment/service/CommentService.java
  src/main/java/com/tasty/masiottae/menu/MenuConverter.java
  src/main/java/com/tasty/masiottae/menu/domain/Menu.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/test/java/com/tasty/masiottae/comment/service/CommentServiceTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: Menu, Taste

#135 [#134] 토큰 클레임에 로그인한 id 추가
  src/main/java/com/tasty/masiottae/security/auth/AccountDetail.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtTokenProvider.java
Labels: 백엔드, Account

#139 [#137] 메뉴 검색 API에서 전체 프렌차이즈 조회 시 요청 값 변경
  BOOT-INF/classes/static/docs/index.html
  src/main/java/com/tasty/masiottae/menu/dto/SearchMenuRequest.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
Labels: 리뷰 요청, Menu, Franchise

#138 [#136] Franchise, Comment 테스트 코드 리팩토링
  src/main/java/com/tasty/masiottae/comment/controller/CommentController.java
  src/main/java/com/tasty/masiottae/comment/repository/CommentRepository.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tasty/masiottae/comment/controller/CommentControllerTest.java
  src/test/java/com/tasty/masiottae/franchise/controller/FranchiseControllerTest.java
Labels: 리뷰 요청, 백엔드, Menu, Tasty, Franchise

#141 [#140] 페이징과 Aws S3 이미지 업로드 관련 코드 리팩토링
  src/main/java/com/tasty/masiottae/account/service/AccountService.java
  src/main/java/com/tasty/masiottae/common/aws/AwsS3ImageUploader.java
  src/main/java/com/tasty/masiottae/common/aws/ImageDirectory.java
  src/main/java/com/tasty/masiottae/common/util/PageInfo.java
  src/main/java/com/tasty/masiottae/common/util/PageUtil.java
  src/main/java/com/tasty/masiottae/franchise/service/FranchiseService.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/main/java/com/tasty/masiottae/menu/service/PagingInfo.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tasty/masiottae/account/controller/AccountControllerTest.java
Labels: 리뷰 요청, AWS, Search

#144 [#143] 불필요한 코드 제거 및, 예외 통일, 임포트 최적화
  src/main/java/com/tasty/masiottae/account/repository/AccountRepository.java
  src/main/java/com/tasty/masiottae/comment/dto/CommentSaveResponse.java
  src/main/java/com/tasty/masiottae/comment/service/CommentService.java
  src/main/java/com/tasty/masiottae/franchise/controller/FranchiseController.java
  src/main/java/com/tasty/masiottae/franchise/service/FranchiseService.java
  src/main/java/com/tasty/masiottae/likemenu/domain/LikeMenuId.java
  src/main/java/com/tasty/masiottae/likemenu/repository/LikeMenuRepository.java
  src/main/java/com/tasty/masiottae/likemenu/service/LikeMenuService.java
  src/main/java/com/tasty/masiottae/menu/MenuConverter.java
  src/main/java/com/tasty/masiottae/menu/domain/MenuTasteId.java
  src/main/java/com/tasty/masiottae/menu/repository/MenuRepository.java
  src/main/java/com/tasty/masiottae/option/repository/OptionRepository.java
  src/main/java/com/tasty/masiottae/security/annotation/LoginAccount.java
  src/main/java/com/tasty/masiottae/security/auth/AccountDetailService.java
  src/main/java/com/tasty/masiottae/security/filter/JwtAuthorizationFilter.java
  src/main/java/com/tasty/masiottae/security/jwt/JwtProperties.java
  src/test/java/com/tasty/masiottae/comment/controller/CommentControllerTest.java
  src/test/java/com/tasty/masiottae/comment/service/CommentServiceTest.java
  src/test/java/com/tasty/masiottae/config/RestDocsConfiguration.java
  src/test/java/com/tasty/masiottae/config/S3TestConfig.java
  src/test/java/com/tasty/masiottae/config/WithMockAccount.java
  src/test/java/com/tasty/masiottae/config/WithMockAccountSecurityContextFactory.java
  src/test/java/com/tasty/masiottae/franchise/controller/FranchiseControllerTest.java
  src/test/java/com/tasty/masiottae/likemenu/service/LikeMenuServiceTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 백엔드, Tasty

#146 [#130] 메뉴 이미지 제거 수정 처리, 수정, 삭제 account 인가 체크 추가.
  src/main/java/com/tasty/masiottae/common/exception/ErrorMessage.java
  src/main/java/com/tasty/masiottae/common/exception/GlobalExceptionHandler.java
  src/main/java/com/tasty/masiottae/common/exception/custom/ForbiddenException.java
  src/main/java/com/tasty/masiottae/franchise/domain/Franchise.java
  src/main/java/com/tasty/masiottae/menu/MenuConverter.java
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/dto/MenuSaveRequest.java
  src/main/java/com/tasty/masiottae/menu/dto/MenuSaveUpdateRequest.java
  src/main/java/com/tasty/masiottae/menu/dto/MenuUpdateRequest.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tasty/masiottae/likemenu/service/LikeMenuServiceTest.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 리뷰 요청, 백엔드, Menu

#147 [#142] 나만의 메뉴 검색 API 유저 식별 방법으로 토큰을 사용하도록 변경
  src/docs/asciidoc/menu.adoc
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 리뷰 요청, Search

#149 [#145] 댓글 삭제 API 응답 변경 및 댓글 개수 문제 해결
  src/docs/asciidoc/comment.adoc
  src/main/java/com/tasty/masiottae/comment/controller/CommentController.java
  src/main/java/com/tasty/masiottae/comment/dto/CommentDeleteResponse.java
  src/main/java/com/tasty/masiottae/comment/service/CommentService.java
  src/main/java/com/tasty/masiottae/menu/domain/Menu.java
  src/test/java/com/tasty/masiottae/comment/controller/CommentControllerTest.java
  src/test/java/com/tasty/masiottae/comment/service/CommentServiceTest.java
Labels: 리뷰 요청, 백엔드, Menu, Tasty, Comment

#152 [#148] 메뉴 생성 API 유저 식별 방법으로 토큰을 사용하도록 변경
  src/main/java/com/tasty/masiottae/franchise/domain/Franchise.java
  src/main/java/com/tasty/masiottae/menu/MenuConverter.java
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/dto/MenuSaveRequest.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tasty/masiottae/likemenu/service/LikeMenuServiceTest.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 리뷰 요청, Menu

#154 refactor : 메뉴 단건 조회시 isLiked 필드 추가
  src/main/java/com/tasty/masiottae/menu/MenuConverter.java
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/dto/MenuFindOneResponse.java
  src/main/java/com/tasty/masiottae/menu/dto/MenuFindResponse.java
  src/main/java/com/tasty/masiottae/menu/repository/MenuRepository.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tasty/masiottae/likemenu/service/LikeMenuServiceTest.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 백엔드, Menu, Tasty

#155 [#151] aop 기반의 security 설정 및 시큐리티 관련 에러 설정
  build.gradle
  src/main/java/com/tasty/masiottae/common/exception/GlobalExceptionHandler.java
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/security/annotation/AccountSecured.java
  src/main/java/com/tasty/masiottae/security/config/MethodSecurityConfig.java
  src/main/java/com/tasty/masiottae/security/config/SecurityConfig.java
  src/main/java/com/tasty/masiottae/security/exception/CustomAuthenticationFailureHandler.java
Labels: Tasty

#160 [#159] 로그인 에러 메세지 수정 및 메뉴 수정 옵션 누락 수정.
  src/main/java/com/tasty/masiottae/menu/domain/Menu.java
  src/main/java/com/tasty/masiottae/option/domain/Option.java
  src/main/java/com/tasty/masiottae/security/exception/CustomAuthenticationFailureHandler.java
Labels: Menu, Tasty

#158 [#157] 좋아요한 메뉴 검색 API 개발 및 검색 API 리팩토링
  src/docs/asciidoc/menu.adoc
  src/main/java/com/tasty/masiottae/common/exception/ErrorMessage.java
  src/main/java/com/tasty/masiottae/common/util/PageInfo.java
  src/main/java/com/tasty/masiottae/common/util/PageUtil.java
  src/main/java/com/tasty/masiottae/menu/MenuConverter.java
  src/main/java/com/tasty/masiottae/menu/MenuSearchList.java
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/dto/SearchCond.java
  src/main/java/com/tasty/masiottae/menu/dto/SearchMenuRequest.java
  src/main/java/com/tasty/masiottae/menu/dto/SearchMyMenuRequest.java
  src/main/java/com/tasty/masiottae/menu/enums/SearchType.java
  src/main/java/com/tasty/masiottae/menu/repository/MenuRepositoryImpl.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/repository/MenuRepositoryTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 리뷰 요청, Menu, 문서화, Search

#165 [#164] 메뉴 검색 API keyword 파라미터 null 전달시 500 응답이 발생하는 버그 수정
  src/main/java/com/tasty/masiottae/menu/repository/MenuRepositoryImpl.java
Labels: 리뷰 요청, Menu, Search

#168 [#166] MenuService, TasteService 테스트 코드 개선
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/service/TasteService.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
  src/test/java/com/tasty/masiottae/menu/service/TasteServiceTest.java
Labels: 리뷰 요청, Taste

#172 [#171]토큰 없이도 단건 조회가 되도록 로직 추가
  src/main/java/com/tasty/masiottae/menu/MenuConverter.java
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
Labels: 리뷰 요청, 백엔드, Menu, Tasty

#173 [#170] 나만의 메뉴 검색 API 접근 권한 변경
  src/docs/asciidoc/menu.adoc
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
  src/main/java/com/tasty/masiottae/menu/dto/MainSearchMenuRequest.java
  src/main/java/com/tasty/masiottae/menu/dto/MyInfoSearchMenuRequest.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/main/resources/static/docs/index.html
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 리뷰 요청, Menu, 문서화, Search

#175 [#169] 좋아요한 메뉴 검색 API 쿼리 최적화
  src/main/java/com/tasty/masiottae/menu/repository/MenuRepositoryImpl.java
Labels: 리뷰 요청, Menu, Search

#178 [#177] 메뉴 생성, 수정 누락된 검증 로직 추가
  src/main/java/com/tasty/masiottae/menu/controller/MenuController.java
Labels: 리뷰 요청, Menu

#180 [#179] 메뉴 검색 페이징 관련한 요청 파라미터 변경
  BOOT-INF/classes/static/docs/index.html
  src/main/java/com/tasty/masiottae/common/exception/ErrorMessage.java
  src/main/java/com/tasty/masiottae/common/util/PageResponse.java
  src/main/java/com/tasty/masiottae/common/util/PageUtil.java
  src/main/java/com/tasty/masiottae/menu/MenuSearchList.java
  src/main/java/com/tasty/masiottae/menu/dto/MainSearchMenuRequest.java
  src/main/java/com/tasty/masiottae/menu/dto/MyInfoSearchMenuRequest.java
  src/main/java/com/tasty/masiottae/menu/dto/SearchMenuResponse.java
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/test/java/com/tasty/masiottae/menu/controller/MenuControllerTest.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 리뷰 요청, Menu, Search

#182 [#181] 검색 API 버그 수정
  src/main/java/com/tasty/masiottae/menu/service/MenuService.java
  src/test/java/com/tasty/masiottae/menu/service/MenuServiceTest.java
Labels: 리뷰 요청, Menu, Search
